form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.text,
.email,
.number {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::placeholder {
  color: #999;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px 0 0;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

select {
  width: 100%;
  padding: 12px 20px;
}
